<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/adminhome">
  <table width="486" height="264" border="1">
    <tr>
      <th><a href="/viewstudent">VIEW STUDENTS </a></th>
    </tr>
    <tr>
      <th scope="col"> <a href="/viewteachers">VIEW TEACHERS </a></th>
    </tr>
      <th scope="col"> <a href="#"> WEB SCRAPING </a></th>
    </tr>
    <tr>
      <th scope="col"><a href="/verifymaterial">VERIFY MATERIAL </a></th>
    </tr>
    <tr>
      <th scope="col"><a href="/viewfeedback"> VIEW FEEDBACK </a></th>
    </tr>
    <tr>
      <th scope="col"><a href="/viewnotification">VIEW NOTIFICATION </a></th>
    </tr>
    <tr>
      <th scope="col"> <a href="/">LOGOUT </a></th>
    </tr>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
