<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/verifymaterial">
  <table  border="1">
    <tr>
      <th scope="col">&nbsp;</th>
      <th scope="col">MATERIAL NAME </th>
      <th scope="col">DATE</th>
      <th scope="col">COURSE/PAPER NAME </th>
      <th scope="col">STATUS</th>
    </tr>
    <tr>
      <td><p><a href="#">ACCEPT</a></p>
      <p><a href="#">REJECT</a></p></td>
    </tr>
  </table>
</form>
</body>
</html>
