<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>-->
{% extends 'ADMIN/ADMIN INDEX.html' %}
{% block body %}
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" style="background-color:transparent;"  method="post" action="/viewteachers">
  <table border="0" style="color:white;" >
    <tr>
      <th scope="col">S/NO</th>
      <th scope="col">NAME</th>
      <th scope="col">DEPARTMENT</th>
      <th scope="col">QUALIFICATION</th>
      <th scope="col">ADDRESS</th>
      <th scope="col">COLLEGE</th>
      <th scope="col">MOBILE NUMBER</th>
      <th scope="col">EMAIL</th>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['FIRST_NAME']}} {{i['LAST_NAME']}}</td>
      <td> {{i['QUALIFICATION']}}</td>
      <td>{{i['GENDER']}}&nbsp;</td>
      <td>{{i['DOB']}}</td>
      <td>{{i['DEPARTMENT']}}</td>
      <td>{{i['COLLEGE']}}</td>
      <td>{{i['EMAIL_ID']}}</td>
    </tr>

    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
