<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/viewmaterial">
  <table  border="1">
    <tr>
      <th>MATERIAL ID </th>
      <th>MATERIAL NAME </th>
      <th>STATUS</th>
      <th>DATE</th>
      <th>COURSE /PAPER NAME </th>
    </tr>
    {% for i in val  %}
    <tr>
      <td> {{i['M_ID']}}</td>
      <td>{{i['MATERIAL']}}</td>
      <td>{{i['STATUS']}}</td>
      <td>{{i['DATE']}}</td>
      <td>{{i['SUBJECT_NAME']}}</td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
</html>
