<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>-->
{% extends 'ADMIN/ADMIN INDEX.html' %}
{% block body %}
<!--<meta http-equiv="Content-Type"  content="text/html; charset=iso-8859-1" />-->
<!--<title>view student</title>-->
<!--</head>-->

<body>
<h3>view students</h3>
<!--<form id="form1" name="form1" style="background-color:transparent;"  method="post" action="">-->
  <table width="20%" class="table table-bordered" bgcolor="white"  align="left">

    <tr>
      <td>NO</td>
      <td >NAME</td>
      <td >EMAIL</td>
      <td >MOBILE NUMBER</td>
      <td >ADDRESS</td>
      <td >DEPARTMENT</td>
      <td >COLLEGE</td>
      <td s>DOB</td>
      <!--<td>GENDER</td>-->
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{i['FIRST_NAME']}} {{i['LAST_NAME']}}</td>
      <td>{{i['EMAIL_ID']}}</td>
      <td>{{i['MOBILE_NUMBER']}}</td>
      <td>{{i['PLACE']}} {{i['PIN_CODE']}} {{i['POST_OFFICE']}}</td>
      <td>{{i['DEPARTMENT']}}</td>
      <td>{{i['COLLEGE']}}</td>
      <td>{{i['DOB']}}</td>
      <!--<td>{{i['GENDER']}}</td>-->


    </tr>
    {% endfor %}
  </table>
<!--</form>-->
</body>
{% endblock %}

