<!--
author: W3layouts
author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<head xmlns="http://www.w3.org/1999/html">
<title>registration</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Auditions Registration Form Widget Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- //custom-theme -->
<link href="../static/assets/registration/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- js -->
<script type="text/javascript" src="..static/assets/registration/css/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- font-awesome-icons -->
<!-- //font-awesome-icons -->
<link href="//fonts.googleapis.com/css?family=Anton&amp;subset=latin-ext,vietnamese" rel="stylesheet">
</head>
<body>
<!-- banner -->
	<div class="center-container">
	<div class="banner-dott">
		<div class="main">
			<h1 class="w3layouts_head">Teacher Registration Form</h1>
				<div class="w3layouts_main_grid">
					<form action="/teacherregistration_post" method="post" class="w3_form_post">
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>First Name </label>
								<input type="text" name="firstname" placeholder="First Name" required="">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Last Name </label>
								<input type="text" name="lastname" placeholder="Last Name">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Username </label>
								<input type="text" name="username" placeholder="Your Username" required="" title="enter a username">
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Password</label>
								<input type="password"  name="password" placeholder="Enter Your Password" required="" title="enter a strong password">
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Your Email </label>
								<input type="email" name="email" placeholder="Your Email" required="">						</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Place </label>
								<input type="text" name="place" placeholder="Place" required="">
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Post</label>
								<input type="text" name="post" required pattern="[A-Z a-z.]{3,25}" placeholder="Post" >
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Pin</label>
								<input type="text" name="pin" required pattern="{7}" placeholder="Pin" />
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Gender</label>
								 <input name="radiobutton" type="radio" value="male" />
								MALE
								<input name="radiobutton" type="radio" value="female" />
								FEMALE
								<input name="radiobutton" type="radio" value="other" />
								OTHER
							</span>
						</div>

						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Phone Number </label>
								<input type="text" name="mob" placeholder="Phone Number" datatype="number">
								</span>
						</div>
						<div class="date">
							<span class="date">
								<label>DOB</label>
								<input  type="date" name="dob" min="1990-01-01" max="2019-12-31" required="required" data-placeholder="dd/mm/yyyy" />
							</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Department</label>
								<input type="text" name="dep" placeholder="Department" required="required"/>
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Qualification</label>
								<input type="text" name="qualification" placeholder="Qualification" />
								</span>
						</div>
						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>College</label>
								<input type="text" name="clg" placeholder="College Name" required="required" />
								</span>
						</div>



<!--						<div class="w3_agileits_main_grid w3l_main_grid">
							<span class="agileits_grid">
								<label>Select Category </label>
								<select name="country">
									<option value="none" selected="" disabled="">Select Category</option>
									<option value="Ph">Hero</option>
									<option value="Po">Heroine</option>
									<option value="So">Model</option>
									<option value="Sp">Music</option>

								</select>
							</span>
						</div>
						&lt;!&ndash;<div class="agileits_w3layouts_main_grid w3ls_main_grid">
							<span class="agileinfo_grid">
								<label>Date / Time </label>-->
								<!--<div class="agileits_w3layouts_main_gridl">
									<input class="date" id="datepicker" name="Text" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="">
								</div>-->
					<!--			<div class="agileits_w3layouts_main_gridr">
									<input type="time" name="Time" placeholder=" " required="">
								</div>
									<div class="clear"> </div>
							</span>
						</div>&ndash;&gt;-->
					
					<div class="w3_main_grid">
						<div class="w3_main_grid_right">
							<input type="submit" value="REGISTER">
						</div>
					</div>
				</form>
			</div>
		<!-- Calendar -->
			<link rel="stylesheet" href="..static/assets/registration/css/jquery-ui.css" />
				<script src="..static/assets/registration/js/jquery-ui.js"></script>
					<script>
						$(function() {
							$( "#datepicker" ).datepicker();
						});
					</script>
			</div>
		</div>
	</div>
	</div>
<!-- //footer -->
 {% block body %}
{% endblock %}
</body>
