<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Register</title></head>

<body>
<form id="form1" name="form1" method="post" action="/teacherregistration_post">
  <table  border="1">
    <tr>
      <th>FIRSTNAME</th>
      <td><input type="text" name="firstname" />
      </th>
    </tr>
    <tr>
      <th>LASTNAME</th>
      <td><input type="text" name="lastname" /></td>
    </tr>
    <tr>
      <th>USERNAME</th>
      <td><input type="text" name="username" />
      </th>
    </tr>
      <th>PASSWORD</th>
      <td><input type="text" name="password" />
      </th>
    </tr>
    <tr>
      <th>EMAIL</th>
      <td><input type="text" name="email" /></td>
    </tr>
    <tr>
      <th>PLACE</th>
      <td><input type="text" name="place" /></td>
    </tr>
    <tr>
      <th>POST</th>
      <td><input type="text" name="post" /></td>
    </tr>
    <tr>
      <th>PIN</th>
      <td><input type="text" name="pin" /></td>
    </tr>
    <tr>
      <th>GENDER</th>
      <td><label>
        <input name="radiobutton" type="radio" value="radiobutton" />
      MALE
      <input name="radiobutton" type="radio" value="radiobutton" />
      FEMALE
      <input name="radiobutton" type="radio" value="radiobutton" />
OTHER</label></td>
    </tr>
    <tr>
      <th>MOBILE NUMBER</th>
      <td>
        <input type="text" name="mob" />
      </td>
    <tr>
      <th>DATE OF BIRTH</th>
      <td><input type="text" name="dob" /></td>
    </tr>
    </tr>
    <tr>
      <th>DEPARTMENT</th>
      <td><input type="text" name="dep" /></td>
    </tr>
    <tr>
      <th>QUALIFICATION</th>
      <td><input type="text" name="qualification" /></td>
    </tr>
    <tr>
      <th>COLLEGE</th>
      <td><input type="text" name="clg" /></td>
    </tr>
    <tr>
      <td colspan="2">
          <input type="submit" name="Submit" value="REGISTER" />
      </td>
    </tr>
  </table>
</form>
</body>
</html>
