<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>-->
<title>teacher home</title>
{% extends 'TEACHER/TEACHER INDEX.html' %}
{% block body %}
<body>
<form id="form1" style="background-color: transparent;"  name="form1" method="post" action="/teacherhome">
  <table style="width:100%" border="0" >
    <tr>
      <th> <a href="/addmaterial" style="font-size:30px">ADD MATERIAS</></a></th>
    </tr>
    <tr>
       <th><a href="/viewmaterial" style="font-size:30px"> VIEW METERIAL </a></th>
    </tr>
    <tr>
      <!-- <th><a href=" "> VIEW UPLOADS </a></th> -->
    </tr>
    <tr>
      <!-- <th><a href="/"> VIEW PROFILE </a></th>-->
    </tr>
    <tr>
      <th style="font-size:30px" > <a href="/"> LOGOUT </a></th>
    </tr>
  </table>
</form>
</body>
{% endblock %}
